html, body {
    margin: 0;
}

.menu-appbar a, .link {
    color: #ffffff;
    text-decoration: none;
}

.home_page .header {
    background-image: url("../../../public/assets/img/header.jpg");
}

.logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}